package htmlcomponent

templ HtmlComponent(contents templ.Component){
   <html>
      <body>
         <script src="https://unpkg.com/htmx.org@1.9.10"></script>
         @contents
      </body>
   </html>
}